  <br><br><br><br>
  <img class="ui small left floated image" src="https://imgur.com/9Mc3IiI.png" alt="zubeir mohamed">
  <p>
    I wanted to learn about file systems and streaming videos to the client, and the app is the outcome, have fun :))
    <br><br>
    My name is Zubeir Mohamed I am studying Data Science and AI at the University of Saarland, Germany. I work as an intern software developer and started coding {{moment-from-now "2019-08-01"}}. Since then, my life pretty much revolves around programming. 
    <br> <br>
    Here you can find all my social links, let's connect :)
  </p>
  <a href="mailto: zubeir.mohamed@outlook.de" rel="noopener" target="_blank" id="social-links">
    <i class="mail icon"></i>
  </a>
  <a href="https://www.linkedin.com/in/zubeir-mohamed-29668217b/" rel="noopener" target="_blank" id="social-links">
    <i class="linkedin icon"></i>      
  </a>
  <a href="https://twitter.com/zubeirtech" rel="noopener" target="_blank" id="social-links"> 
    <i class="twitter icon"></i>
  </a>
  <a href="https://github.com/zubeir68" rel="noopener" target="_blank" id="social-links">
    <i class="github icon"></i>
  </a>