<div class="ui tablet computer only padded grid">
  <div id="nav" class="ui inverted borderless top fixed fluid menu massive">
    <div class="ui container">
      {{#link-to "index" class="header item"}}
        The Nile
      {{/link-to}}
      <div class="right menu">
        {{#if session.isAuthenticated}}
          {{#link-to "upload" class="item"}}
            Upload Video
          {{/link-to}}
          {{#link-to "my-account" class="item"}}
            My Channel
          {{/link-to}}
          <a href="" role="button" class="item" {{action "invalidate"}}>
            Logout
          </a>
        {{else}}
          {{#link-to "login" class="item"}}
            Login
          {{/link-to}}
          {{#link-to "sign-up" class="item"}}
            Sign Up
          {{/link-to}}
          {{#link-to "about" class="item"}}
            About
          {{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="ui mobile only padded grid">
  <div id="nav" class="ui bottom fixed borderless fluid inverted labeled three item icon menu">
    {{#if session.isAuthenticated}}
      {{#link-to "index" class="item"}}
        <i class="home icon"></i>
        Home
      {{/link-to}}
      {{#link-to "upload" class="item"}}
        <i class="upload icon"></i>
        Upload
      {{/link-to}}
      {{#link-to "my-account" class="item"}}
        <i class="user outline icon"></i>
        My Account
      {{/link-to}}
    {{else}}
      {{#link-to "index" class="item"}}
        <i class="fas fa-home fa-2x"></i>
        Home
      {{/link-to}}
      {{#link-to "login" class="item"}}
        <i class="fas fa-sign-in-alt fa-2x"></i>
         Login
      {{/link-to}}
      {{#link-to "sign-up" class="item"}}
        <i class="fas fa-user-plus fa-2x"></i>
        Sign Up
      {{/link-to}}
    {{/if}}
  </div>
</div>
<br>
<br>
<br>
<div class="ui container">
  {{outlet}}
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
<script>
  $(document).ready(function() {
    $(".ui.toggle.button").click(function() {
      $(".mobile.only.grid .ui.vertical.menu").toggle(100);
    });
  });
</script>